<div class="card">

  <div class="header">
    <h2 class="title">{{ 'flight-booking.flight-search.flightSearch' | translate }}</h2>
  </div>
  <div class="content">

    <form>
      <div class="form-group">
        <label>{{ 'flight-booking.flight-search.from' | translate }}:</label>
        <input [(ngModel)]="from" name="from" class="form-control">
      </div>

      <div class="form-group">
        <label>{{ 'flight-booking.flight-search.to' | translate }}:</label>
        <input [(ngModel)]="to" name="to" class="form-control">
      </div>

      <div class="form-group">
        <label>
          <input [(ngModel)]="urgent" name="urgent" type="checkbox">
          {{ 'flight-booking.flight-search.urgent' | translate }}
        </label>
      </div>

      <div class="form-group">
        <button (click)="search()" [disabled]="!from || !to"
          class="btn btn-default">
          {{ 'flight-booking.flight-search.search' | translate }}
        </button>

        <ng-container *ngIf="flights$ | async as flights">
          <button *ngIf="flights.length > 0" class="btn btn-default"
                  (click)="delay()">
            {{ 'flight-booking.flight-search.delayFirstFlight' | translate }}
          </button>
        </ng-container>

        <ng-container *ngIf="flights$ | async as flights">
          <div *ngIf="flights?.length === 1">
            {{ 'flight-booking.flight-search.flightFound' | translate }}
          </div>
          <div *ngIf="flights?.length > 1">
            {{ 'flight-booking.flight-search.flightsFound' | translate:{count: flights.length} }}
          </div>
        </ng-container>

        <div *ngIf="isLoadingFlight$ | async">
          Loading flights ...
        </div>
      </div>
    </form>

  </div>
</div>

<div class="row">
  <div *ngFor="let f of flights$ | async">
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
      <flight-card
        [item]="f"
        [(selected)]="basket[f.id]"
        [locale]="locale">
      </flight-card>
    </div>
  </div>
</div>

<div class="card">
  <div class="content">
    <pre>{{ basket | json }}</pre>
  </div>
</div>
